<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redirecting</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        div {
            font-size: 2em;
            font-weight: bold;
            margin-bottom: 0.2em;
            padding-top: 25px;
        }
        img {
            height: 15em;
            width: 15em;
        }
    </style>
</head>
<body onload="redirect()">
    <header>
        <div >
            Looks like you are already logged in...
        </div>
        <div>
            <img src="/static/images/loading.jpg" alt="loading">
        </div>
    </header>
    <script>
        function redirect() {
            window.setTimeout(() => {window.location.href = "/home"; }, 1000);
        }
    </script>
</body>
</html>